  body {
    padding-top: 120px;
    padding-bottom: 40px;
    background-attachment: fixed;
    background-size:cover;
    background-image: url(../images/back.jpg);
  
  }
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   color:black;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
    
  }
  .btn:focus
  {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }

  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top:0px;
  }
  .form-signin .form-signin-heading, .form-signin {
    color: black;
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
.profile-img
{
    position: relative ;
    margin-top:30%;
    padding-left: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-img2
{
    position: relative ;
    margin-top:0%;
    padding-left: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  .form-signin input[type="text"] {
    margin-bottom: 2px;
    margin-top: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    border-top:1px solid rgba(0,0,0,0.08);
    border-bottom:1px solid rgba(0,0,0,0.08);
    border-left:1px solid rgba(0,0,0,0.08);
    border-right:1px solid rgba(0,0,0,0.08);
    
  }
  .form-signin input[type="password"] {
    margin-bottom: 2px;
    margin-top: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
    border-bottom:1px solid rgba(0,0,0,0.08);
    border-left:1px solid rgba(0,0,0,0.08);
    border-right:1px solid rgba(0,0,0,0.08);
    
  }
  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }
