{% extends "layout.html" %}

{% block body %}


</br></br></br></br>
<!-- BODY -->
<body>
<body background="../Static/Images/images.jpg"
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>       
        

<h2> Welcome to our Project Website </h2>


<div>

<img src="../media/images/images.jpeg" alt="earth">
<img src="../static/images/twitter.png" alt="twitter">
<!--{% load staticfiles %}
<img src="{% static "/Images/images.jpeg" %}" alt="My image"/>
<img src="{% static "/images.jpeg" %}" alt="newimage"/>-->
</div>
<div>
<img src="../static/images/cat.jpg" alt="cat">

</div>
</body>
</html>


{% endblock %}
  
