{% block head %}
{% endblock %}

{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'IndexPage' %}">
                    <img src="{{ STATIC_URL }}images/bubbles.png" alt="" height = "50" width = "50">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'mainPage' %}">{{ user.get_username }}</a>
                        </li>
                        <li>
                            <a href="#"> View Friends List </a>                   
                        </li>
                         <li>
                            <a href="#"> Manage Friends </a>                   
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'LoginPage' %}">Login</a>
                        
                        </li>
                        <li>
                            <a href="{% url 'RegisterPage' %}">Register</a>
                        </li>
                        {% endif %}
                        </ul>

                        {% if not user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                            <a href="#">Contact/About</a>
                            </li>
                        </ul>
                        {% endif %}

                    <!---
                    <li>
                        <form id="search" action ="{% url 'SearchPage' %}" method="POST">{% csrf_token%}
                            <input name=searchuser type = "text" placeholder="Search">
                            <input id="submit" type = "submit" value = "Search">
                        </form>
                    </li>
                    -->

                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"> Edit Profile </a>                   
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}

{% block body %}
{% endblock %}