<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../static/css/small-business.css" rel="stylesheet">

    <link href="../../static/css/register.css" rel="stylesheet">
    <br>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../../static/images/bubbles.png" alt="" height = "50" width = "50">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
      
        
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">
	
	<form  class="form-signin" action="/author/userlogin/" method=POST enctype="multipart/form-data"> 
		<!-- http://bootsnipp.com/snippets/featured/google-style-login-extended -->
	<img class="profile-img2" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120">
		{% csrf_token %}
		<h1 class="form-signin-heading">Register</h1>
        	<input type="text" class="form-control" placeholder="Name" required=true autofocus="" name=name>
		<input type="text" class="form-control" placeholder="Username" required=true autofocus="" name=username>
		<input type="password" class="form-control" placeholder="Password" required=true autofocus=""name=password>
        	<input type="password" class="form-control" placeholder="ConfirmPassword" required=true name=confpassword>
        	<input type="email" class="form-control" placeholder="Email" name=email>
        	<input type="text" class="form-control" placeholder="MyGithub"  name=github>
        	<input type="text" class="form-control" placeholder="MyFacebook"  name=facebook>
        	<input type="text" class="form-control" placeholder="MyTwitter"  name=twitter>
        	<input type="file" class="form-control" placeholder=""  name=image>
		</br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Register
		</button>
	</form>

</div>






