{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/login.css" rel="stylesheet">
    <br>
</head>

<body>

{% endblock %}


{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %}  
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">
        <!-- http://bootsnipp.com/snippets/featured/google-style-login-extended -->
	
	<form id="login" class="form-signin" action="/author/login/" method="POST">
		<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120">

		{% csrf_token %}
		<h1 class="form-signin-heading">Sign In</h1>
		<br/>
		<input type="text" class="form-control" placeholder="Username" required="" autofocus="" name=username>
		<input type="password" class="form-control" placeholder="Password" required="" name=password>
		</br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Sign In
		</button>

	</form>

</div>

{% endblock %}

