
{% extends "layout.html" %}

{% block body %}


<!-- BODY -->
<body>
<body background="../Static/Images/images.jpg"
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



<!-- REgister starts here -->

</br></br>


  <h2> Register </h2>
        
      
        
        <form action="" method=post>

        <dl>
        <dl> Username:
        <dl> <input type=text name=username>
        <dl>Password:
        <dl> <input type=text name=password>

	<dl>Confirm Password:
        <dl> <input type=text name=passwordconfirm>

	<dl>Email:
        <dl> <input type=text name=password>

        <dl> <input type=submit value="Login">       
        
        </dl>        
        </form>



</body>
</html>

{% endblock %}



