* {
  font-family: Helvetica, Arial, sans-serif;
  color: #3f3e3d;
}

body {
    background-attachment: fixed;
    background-size:cover;
    background-image: url(../images/back.jpg);

}

.createPost {
  border-radius: 10px;
  padding-left: 2%;
  padding-top: 1pt;
  padding-bottom: 2%;
  background-color: rgba(0,55,155,0.2);

}

.recentPost {
  border-radius: 10px;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(0,55,155,0.2);
}

.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:rgba(0,55,155,0.2); /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,55,155,0.2)), to(rgba(0,55,155,0.2)));
  background:-moz-linear-gradient(rgba(0,55,155,0.2), rgba(0,55,155,0.2));
  background:-o-linear-gradient(rgba(0,55,155,0.2), rgba(0,55,155,0.2));
  background:linear-gradient(rgba(0,55,155,0.2), rgba(0,55,155,0.2));
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:90%; /* controls horizontal position */
  border-width:20px 20px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:rgba(0,55,155,0.2) transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.triangle-isosceles:after:nth-child(even) {
  left:10%;
}



input {
  width: 98%;
  height: 2em;
  border: 1px solid #d2d2d2;
  outline: none;
  font-size: 18px;
}


textarea {
  width: 98%;
  height: 6em; 

  padding-left:0 px;
  padding-top:0 px;
  border: 1px solid #d2d2d2;
  resize:none;
 
}

input[type="file"] {
  width: 88%;
  height: 2.2em;
  border: 1px solid #d2d2d2;
  outline: none;
  font-size: 18px;
}


div.upload {
    width: 157px;
    height: 57px;
    background-color:blue ;
    overflow: hidden;
}

div.upload input {
    display: block;
    width: 157px;
    height: 57px;
    opacity: 0;
    overflow: hidden;
}

input:focus {
  background: #FFFDF2;
}

.rightbtn {
  margin-left: 87%;
}

.postbtn {
  position: absolute;
  top: 75%;

}

input[type="submit"] {
  height: 60px;
  width: auto;

  border: 1px solid #7BC574;
  border-radius: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  background: #8cd585;
  background: -moz-linear-gradient(top, #5bd0bb 0%, #7ac7cd 23%, #4c97ad 86%, #4597a9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85d5cb), color-stop(23%, #7acdc3), color-stop(86%, #4c97ad), color-stop(100%, #4597a9));
  background: -webkit-linear-gradient(top, ##5bd0bb 0%, #7ac7cd 23%, #4c97ad 86%, #4597a9 100%);
  background: -o-linear-gradient(top, ##5bd0bb 0%, #7ac7cd 23%, #4c97ad 86%, #4597a9 100%);
  background: -ms-linear-gradient(top, ##5bd0bb 0%, #7ac7cd 23%, #4c97ad 86%, #4597a9 100%);
  background: linear-gradient(to bottom, ##5bd0bb 0%, #7ac7cd 23%, #4c97ad 86%, #4597a9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@c1', endColorstr='@c4', GradientType=0);
}

.post {
  border-radius: 10px;
  padding: 20px 0;
  background:rgba(10,105,155,0.2)
}

.post:nth-child(even) {
  background:rgba(0,55,155,0.2)    
}

.posttitle {
  margin-left: 10pt;
  padding-bottom: 10pt;

  font-size: 18pt;
  text-decoration: underline;

}

.postbody {
  margin-left: 10pt;
  margin-right: 10pt;
  width: auto;

  word-wrap:break-word;

}

a.postlink {
  text-decoration: none;
  color: #53bfab;
  text-shadow: #53bfab 0 0 1px;
}
a.postlink:visited
a.postlink:hover {
  text-decoration: underline;
  color: #5bd0bb;
}
a.user:hover {
  text-decoration: underline;
}

.wrapper {
  width: 1000px;
  margin: auto;
}
header {
  /*background: url(../images/bg-header.png);*/
  background: #cdf1ff;
  height: 230px;
  width: 100%;
}
header div.wrapper {
  padding: 11px 0;
}
header div.wrapper img {
  position: relative;
  top: 10px;
  margin: 0 15px 0 0;
}
header div.wrapper span {
  font-size: 18px;
  margin: 0 42px 0 0;
}
header div.wrapper form {
  display: inline;
}
header div.wrapper form input {
  margin: 0 0 0 14px;
}
header div.wrapper #btnLogOut {
  float: right;
  margin: 14px 0 0 0;
}
#content {
  margin-bottom: 15px;
  min-height: 560px;
}
#content div.wrapper {
  margin: 38px auto;
}
#content div.wrapper img {
  border-radius: 6px;
  float: left;
}
#content div.wrapper div.panel {
  border: 1px solid #d2d2d2;
  background: white;
  margin: 0;
  margin-bottom: 29px;
  border-radius: 6px;
  font-size: 14px;
}
#content div.wrapper div.panel.right {
  width: 35%;
  height: 50%;
  float: right;
}
#content div.wrapper div.panel.right textarea.bubbleText {
  width: 249px;
  height: 100%;
  border: 1px solid #d2d2d2;
}
#content div.wrapper div.panel.left {
  width: 533px;
  float: left;
}
#content div.wrapper div.panel.left div.bubbleWrapper {
  padding: 15px 0;
  border-bottom: 1px solid #d2d2d2;
}
#content div.wrapper div.panel.left div.bubbleWrapper:last-child {
  border: none;
}
#content div.wrapper div.panel.left div.bubbleWrapper span.name {
  font-size: 18px;
  color: #4e9bb8;
}
#content div.wrapper div.panel.left div.bubbleWrapper span.time {
  font-size: 12px;
  color: #CCC;
}
#content div.wrapper div.panel.left div.bubbleWrapper img.avatar {
  margin: 0 19px 0 20px;
  float: left;
  width: 32px;
  height: 32px;
}
#content div.wrapper div.panel.left div.bubbleWrapper p {
  margin: 5px 50px 0 90px;
  padding: 0;
  text-align: justify;
  line-height: 1.5;
  color: #3f3e3d;
  text-shadow: #3f3e3d 0 0 1px;
}
#content div.wrapper div.panel.left div.bubbleWrapper p span.spacing {
  padding-left: 9px;
  margin-left: 9px;
  height: 10px;
  border-left: 1px solid #d2d2d2;
}
#content div.wrapper div.panel * {
  margin: 6px 0;
}
#content div.wrapper div.panel form {
  padding: 0 23px;
}
#content div.wrapper div.panel h1 {
  border-bottom: 1px solid #d2d2d2;
  margin: 5px 0;
  font-weight: normal;
  font-size: 18px;
  padding: 13px 23px;
  height: 23px;
}
#content div.wrapper div.panel p {
  padding: 0 24px;
  margin: 18px 0;
}
footer {
  background: #cdf1ff;
  height: 220px;
  font-size: 14px;
  clear: both;
}
footer div.wrapper {
  padding: 15px;
}
footer div.wrapper img {
  float: right;
}


