<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
    <script src="{{ STATIC_URL }}less.js"></script>
</head>
<body>
<!--     <header>
        <div class="wrapper">
            <img src="{{ STATIC_URL }}images/logo.png">
            {% block login %}
            <a href="/">Home</a>
            <a href="/author/">Public Profiles</a>
            <a href="/author/{{ username }}">My Profile</a>

            <form action="/logout">
                <input type="submit" id="btnLogOut" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header> -->
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or ribbit_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                {{ bubble_form.content.errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}
 
            {% block content %}
 
            {% endblock %}
        </div>
    </div>

</body>
</html>