{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
   <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/small-business.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
    <br>
</head>

{% endblock %}

{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %}


<body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</br>
</br>
<div class="container">
      <div class="row">
   
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
   
   
          <div class="panel panel-info" >
            <div class="panel-heading">
              <h3 class="panel-title">Cameron Alexander</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/static/images/cat.jpg" class="img-circle"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 


                  <table class="table table-user-information">
                    <tbody>
                     
			 <tr>
                        <td>Fullname</td>
                        <td>Cameron Alexander</td>
                        </tr>
              
                        <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                        </tr>
                       
			<tr>
                        <td>Github</td>
                        <td> https://github.com/cntnboys/cmput410-project </td>
                        </tr>
				
			<tr>
			<td>Facebook</td>
                        <td> https://github.com/cntnboys/cmput410-project </td>
			</tr>

			<tr>
			<td>Twitter</td>
                        <td> https://github.com/cntnboys/cmput410-project </td>
                        </tr>
                     
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

                 <div class="panel-footer">
                       <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Follow
</button>
                       
                       
                    </div>


    <form id="login" class="form-signin" action="#" method="POST">

    {% csrf_token %}
    <h1 class="form-signin-heading">Update Your Profile Info</h1>
    <br/>
    <input type="text" class="form-control" placeholder="Name" required="" autofocus="" name=username>
    <input type="text" class="form-control" placeholder="Email" required="" autofocus="" name=username> 
    <input type="text" class="form-control" placeholder="Github" required="" autofocus="" name=username>
    <input type="text" class="form-control" placeholder="Facebook" required="" autofocus="" name=username>
    <input type="text" class="form-control" placeholder="Twitter" required="" autofocus="" name=username>
    <input type="file" class="form-control" placeholder=""  name=image>
    
    
    </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Update
    </button>

  </form>


            
          </div>
        </div>
      </div>
    </div>

</body>
</html>
{% endblock %}
