{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">

    <!-- JS -->
    <script src="{{ STATIC_URL }}/js/less.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-1.11.0.min.js"></script>
    <br>
</head>

<body>

{% endblock %}


{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %} 
    <div id="content">
        <form id="search" style="margin-left:5%" action ="{% url 'friends' %}" method="POST">{% csrf_token%}
            <input name=searchuser type = "text" placeholder="Search">
            <input id="submit" type = "submit" value ="Search" >
        </form>
        <div class="wrapper" style="margin-left:3%; padding: 10pt; width:auto" >

            <div class="panel left" style="margin-left:2%; padding: 10pt;">
                <div class="bubbleWrapper" style="padding:10pt; font-size:25pt"> Your Friends</div>
                {% for link in items %}
                <div class="bubbleWrapper row">
                        <!-- Need to do images -->
                        <!--<img class="avatar" src="""+{{link.images}}+""">-->
                        {% if link.image %}
                        <a href="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}"><img class="avatar" style="width: 80px; height: 80px; border-radius:80px;" src="{{ MEDIA_URL}}/{{ link.image }}"></a> <a href="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}">{{ link.username }}</a><br/>
                        {% else %}
                        <a href="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}"><img class="avatar" style="width: 80px; height: 80px; border-radius:80px;"  src="{{ STATIC_URL }}images/plaeholder_icon.png"></a> <a href="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}">{{ link.username }}</a><br/>
                        {% endif %}
                </div>      
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="wrapper" style="margin-left:10pt">
            <p>Copyright &copy; Thought Bubble 2015</p>
        </div>
</body>
</html>
{% endblock %}
