{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <link href="{{ STATIC_URL }}css/small-business.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">

    <!-- JS -->
    <script src="{{ STATIC_URL }}/js/less.js"></script>
    <br>
</head>

<body>

{% endblock %}


{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %}  
	<div id="content">
		<div class="wrapper">

			<div class="panel left">
				<div class="bubbleWrapper" style="padding:10pt; font-size:25pt"> Friend Requests </div>
                {% for link in items %}
                    <div class="bubbleWrapper row" style="padding: 10pt;">
                        <!-- Need to do images -->
                        {% if link.image %}
                        <img class="avatar" style="width: 80px; height: 80px; border-radius:80px;" src="{{ MEDIA_URL }}/{{ link.0.image }}">
                        {% else %}
                        <img class="avatar" style="width: 80px; height: 80px; border-radius:80px;"   src="{{ STATIC_URL }}images/plaeholder_icon.png">
                        {% endif %}
                            <form method="POST" action="{% url "getaProfile" theusername=link.0.username user_id=link.0.author_uuid %}" enctype="multipart/form-data" name="form">
                            {% csrf_token %}
                            <input type="hidden" value="{{link.0.username}}" name="username">
                            <input type="submit" class="freq" value="Friend {{link.0.username}}">
                        </form>

                    </div>
                {% endfor %}
			</div>
		</div>
	</div>
		<div class="wrapper">
		      <p><span style="margin-left:10pt">Copyright &copy; Thought Bubble 2015</span></p>
		</div>
</body>
</html>
{% endblock %}
