{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">

    <!-- JS -->
    <script src="{{ STATIC_URL }}/js/less.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-1.11.0.min.js"></script>
    <br>
</head>

<body>

{% endblock %}


{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %} 
    <div id="content">
        <form id="search" action ="{% url 'friends' %}" method="POST">{% csrf_token%}
            <input name=searchuser type = "text" placeholder="Search">
            <input id="submit" type = "submit" value = "Search">
        </form>
        <div class="wrapper">

            <div class="panel left">
                <h1>Your Friends</h1>
                {% for link in items %}
                    <div class="bubbleWrapper">
                        <!-- Need to do images -->
                        <!--<img class="avatar" src="""+{{link.images}}+""">-->
                        <img class="avatar" src={{ MEDIA_URL}}{{ link.image }}>
                        <span class="name">{{ link.name }}</span>
                        <form method="POST" action="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}" enctype="multipart/form-data" name="form">
                            {% csrf_token %}
                            <input type="hidden" value="{{link.username}}" name="username">
                            <input type="submit" value="{{link.username}}">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="wrapper">
            <p>Copyright &copy; Thought Bubble 2015</p>
        </div>
</body>
</html>
{% endblock %}
