{% extends "navbar.html" %}

{% block head %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/small-business.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
	<script src="{{ STATIC_URL }}js/less.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
 
    $("#updateform").hide();
  
    $("#show").click(function(){
        $("#updateform").show();
        $("#show").hide();
    });
});
</script>
    <!-- Bootstrap example from http://startbootstrap.com/template-overviews/small-business/ -->
</head>

{% endblock %}

    {% block nav %}
        {{ block.super }}
    {% endblock %}

{% block body %}

<body>
	<div class="wrapper">
		<div class="createPost">
			<div class="row">
				<h2>Create a Thought Bubble</h2>
					<form method="POST" action="{% url "makePost" %}" enctype="multipart/form-data">
					{% csrf_token %}
				</div>
				<div class="row" style="margin-left:10pt">
					<div class="col-md-5" >
						Select your Post privacy setting:
	                    <select name="privacy">
			      			<option value="public">Public</option>
			      			<option value="private">Private</option>
			      			<option value="bubblefriend">Friends Here Only </option>
			      			<option value="friends">Friends Only</option>
			      			<option value="foaf">Friend of Friend Only</option>
			      			<option value="{{ user.get_username }}">Private To Author</option>
			   			</select>
			   		</div>

			   		<div class="col-md-6" >
			   			Select author for a private post: 
				     	<select name="privateauthor"> 
				     	{% for x in ufriends %}
				      		<option value=""></option>
				      		<option value="{{ x.username }}">{{ x.username }}</option>
				     	{% endfor %}
				   		</select>  			
		   			</div>
		   		</div>
		   		<br/>
			<div class="row">
				<div class="col-md-11" >
					<input type="text" name="title" placeholder="Title to your thoughts..."><br/>
					<textarea placeholder="Stay a while and type your thoughts here..." name="posttext"></textarea><br/>
					Attach an Image:
					<input type="file" class="form-control" name="image">
				</div>

				<div class="col-md-1">
					<div class="postbtn"><input type="submit" value="Post"></div>
				</div>
				
			</div>
			</form>
					
				
		</div>
	</div>
	</div>

	<br/>
	<div class="wrapper" >	
		<div class='headerbox'><h1>Recent Posts</h1><div style="float: right;"><button id="show" name="Showbutton" class="editbutton">Edit Mode</button></div></br></div>

                {% for link in items %}
                	<div class="contentbox">
                		{% if link.title %}
                			<div class="posttitle"><a href={% url "onePost" author_name=link.author_id.username post_uuid=link.post_uuid %}>{{ link.title }}</a></div>
                		{% else %}
                			<div class="posttitle"><a href={% url "onePost" author_name=link.author_id.username post_uuid=link.post_uuid %}> Untitled Post </a></div>
                		{% endif %}
                		<span> Domain: {{ link.author_id.location }}</br>
                                By: <a class href={% url "getaProfile" theusername=link.author_id.username user_id=link.author_id.author_uuid %}>{{ link.author_id.username }}</a>
				  on {{link.date}}</span>
                		<br/><br/>

                        {% if link.image %}
			<a href="../../../media/{{link.image}}"><img src="../../../media/{{link.image}}" height="82" width="100" /> </br></a>
                        {% endif %}
                        {% if link.content %}
                        <p style="margin-left:10pt">{{ link.content }}</p>
                        {% endif %}


						{% if link.author_id.username == user.username %}

						<form method="POST" action="{% url "deletepost" %}" >
			            	{% csrf_token %}
			                <input type="hidden" name="id" value={{ link.post_id }} >
			                <input type="image" src="{{ STATIC_URL }}images/delicon.png" alt="Delete" class ="del" onmouseover="this.src='{{ STATIC_URL }}images/deliconhover.png';" onmouseout="this.src='{{ STATIC_URL }}images/delicon.png';"/>
			                        
						</form>


			 <form method="POST" action="#" id=updateform name="updateform">
                          {% csrf_token %}
                      
                       <div>  Content: <input type="text" name="fullname"  maxlength="5" value={{ link.content }} > </div>
                       <div>  Image:<input type="file" name="image" maxlength="5" value={{ link.image }}> </div>
                       <div>  <input type="submit" value="Update"> </div>
                       <div> <input type="hidden" name="postid" value={{ link.post_id }} > </div>
            </form>

					
			

						{% endif %}


                 </div>


                    	<div class="contentbox" style="background-color:rgba(120,12,120,0.2); border-color:rgba(120,12,12s0,0.3)">
                    	<div class="row">
              				<div class="col-md-11" >
                        		<form method="POST" action="{% url "makeComment" %}" enctype="multipart/form-data">
                            	{% csrf_token %}
                            	<input type="text" name="comment" placeholder="Write a comment"><br/>
                            	Attach an image:
                            	<input type="file" class="form-control" placeholder=""  name="image">
                            	<input type="hidden" name="postid" value={{link.post_id}}>
                       	 	</div>
                       	 	<div class="col-md-1">
                            	<div class="addComment"><input type="submit" class="button" value="Add"></div>
                        	</div>
                        </form>
                        </div>
                        </div>
                       
                        {% for comment in link.comments %}
                        	<div class="contentbox comment">
                            <span style="margin-left:10pt"> Commented by: </span><a class href={% url "getaProfile" theusername=comment.author_id.username user_id=comment.author_id.author_uuid %}>{{ comment.author_id.username }}</a><span> on {{comment.date}}</span>
                        
                            
                                {% if comment.image %}
                            	<a href="../../../media/{{comment.image}}"><img src="../../../media/{{comment.image}}"  height="82" width="100" /></a>  </br></br></br></br></br></br>
                                {% endif %}
                                {% if comment.content %}
                                <span class="name">{{ comment.content }}</span></br></br>
                                {% endif %}
                                
                            </div>
                           
                        {% endfor %}
                        
                         <br/>
                    </div></div>
                {% endfor %}
			</div>
		<br/><br/><br/>	
		<div class="wrapper">
			<p><span style="margin-left:10pt">Copyright &copy; Thought Bubble 2015</span></p>
		</div>
	</div>

</body>
</html>
{% endblock %}
