{% extends "navbar.html" %}

{% block head %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">
	<script src="{{ STATIC_URL }}/js/less.js"></script>
	    <!-- Bootstrap example from http://startbootstrap.com/template-overviews/small-business/ -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/standard_page.css" rel="stylesheet">

</head>

{% endblock %}

    {% block nav %}
        {{ block.super }}
    {% endblock %}

{% block body %}

<body>
	<div id="content">
		<div class="wrapper">
			<div id="createBubble" class="panel right">
				<h1>Create a Post</h1>
				</br>
				<p>
					<form method="POST" action="{% url "makePost" %}" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="text" class="bubbleText" name="posttext">
						<input type="file" class="form-control" placeholder=""  name="image">
						<input type="submit" value="Post">
						
					</form>
				</p>
			</div>
			
			
<div id="content">
		<div class="wrapper">
		<h1>Recent Posts</h1>
			<div class="panel left">
				
                {% for link in items %}
                    <div class="bubbleWrapper">
                        {% if link.image %}
                        <img class="avatar" src= ../../media/{{link.image}} height="100" width="100"> </br></br>
                        {% endif %}
                        {% if link.content %}
                        <span class="name">{{ link.content }}</span> </br>
                        {% endif %}
			<!-- Link to profile of user who posted this post -->
			<form method="POST" action="{% url "getaProfile" user_id=link.author_id.username %}" enctype="multipart/form-data" name="form">
			{% csrf_token %}
                        <input type="hidden" value="{{link.author_id.username}}" name="username">	
			<input type="submit" value="{{link.author_id.username}}">
			</form>
			<span> {{link.date}} </span> </br>
			<!-- <button type="button" onclick="alert('MessageDeleted!')">Delete</button>
			#<button type="button" onclick="alert('MessageUpdated!')">Update</button> -->
			
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>

	</div>
		<div class="wrapper">
			Thought-Bubble - A Social Network
		</div>
</body>
</html>
{% endblock %}
