x{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
   <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}/css/login.css" rel="stylesheet">
    <br>

</head>

{% endblock %}

{% block nav %}
    {{ block.super }}
{% endblock %}
{% block body %}  


<body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
          <div class="panel panel-info" >
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/static/images/cat.jpg" class="img-circle"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>


			{% for link in items %}
			<tr>
                        <td>Username</td>
                        <td>{{ link.username }}</td>
                        </tr>
              
	
                        <tr>
                        <td>Fullname</td>
                        <td>{{ link.name }}</td>
                        </tr>
              
                        <tr>
                        <td>Email</td>
                            {% if link.email %}
                            <td><a href="mailto:{{ link.email }}">{{ link.email }}</a></td>
                            {% else %}
                            <td><span style="color:grey"> E-mail not provided </span</td>
                            {% endif %}
                        </tr>
                       
			<tr>
                        <td>Github</td>
                        {% if link.github %}
                            <td> {{ link.github }} </td>
                        {% else %}
                            <td><span style="color:grey"> Github profile link not provided </span></td>
                        {% endif %}
                        </tr>
				
			<tr>
			     <td>Facebook</td>
                 {% if link.facebook %}
                    <td> {{ link.facebook }} </td>
                 {% else %}
                    <td><span style="color:grey"> Facebook profile link not provided </span></td>
                 {% endif %}
			</tr>

			<tr>
			     <td>Twitter</td>
                    {% if link.twitter %}
                    <td> {{ link.twitter }} </td>
                    {% else %}
                        <td><span style="color:grey"> Twitter profile link not provided </span></td>
                    {% endif %}

            </tr>


                    
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% if link.username != user.get_username %}
            
            
            <div class="panel-footer">

                <form method="POST" action="{% url "friendRequest" %}" enctype="multipart/form-data" name="afollow">
                    {% csrf_token %}
                    <input type="hidden" name="follow" value="{{ link.username }}">
                <input type="submit" class="rightbtn postbtn" value="Follow">
                </form>

                
                <form method="POST" action="{% url "friendRequest" %}" enctype="multipart/form-data" name="afollow">
                {% csrf_token %}
                <input type="hidden" name="friendrequest" value="{{ link.username }}">
                <input type="submit" class="rightbtn postbtn" value="Friend Request">
                </form>
            </div>
            {% endif %}
                {% endfor %}

          </div>
        <div class="wrapper">
            <div class="panel left">
                <h1>Friends</h1>
                {% for link in ufriends %}
                <div class="bubbleWrapper">
                    <!-- Need to do images -->
                    <!--<img class="avatar" src="""+{{link.images}}+""">-->
                    <img class="avatar" src={{ MEDIA_URL }}{{link.0.image}}>
                    <span class="name">{{ link.username }}</span>
                    <form method="POST" action="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}" enctype="multipart/form-data" name="form">
                        {% csrf_token %}
                        <input type="hidden" value="{{link.username}}" name="username">
                        <input type="submit" value="{{link.username}}">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    
        </div>
        
    </div>
    
    {% if posts %}
    <div class="wrapper">
        <h1 class='recentPost'>Recent Posts</h1>
        {% for link in posts %}
        <div class="post triangle-isosceles">
            {% if link.title %}
            <div class="posttitle">{{ link.title }}</div>
            {% else %}
            <div class="posttitle"> Untitled Post </div>
            {% endif %}
            <span style="margin-left:10pt"> Thought Bubble'd by: </span><a class href={% url "getaProfile" theusername=link.author_id.username user_id=link.author_id.author_uuid %}>{{ link.author_id.username }}</a><span> on {{link.date}}</span>
            <br/><br/>
            <div class="postbody">
                {% if link.image %}
                <img class="avatar" src= ../../../media/{{link.image}} height="100" width="100"> </br></br>
                    {% endif %}
                    {% if link.content %}
                    <span class="name">{{ link.content }}</span> </br>
                    {% endif %}
                    </div></div><br/>
        {% endfor %}
    </div>
    
</div>

{% endif %}

</body>
</html>
{% endblock %}

