{% extends "navbar.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Profile</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background-->
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/login.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
	<script src="{{ STATIC_URL }}js/less.js"></script>
    <br>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>



$(document).ready(function(){

    $("form").hide();

    $("#show").click(function(){
        $("form").show();
    });

    initialize();
});
</script>

</head>

{% endblock %}

{% block nav %}
    {{ block.super }}
{% endblock %}
{% block body %}  


<body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
          <div class="panel panel-info" >
            <div class="panel-body">
              <div class="row">
		{% for link in items %}
		
		 {% if link.image %}
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../../media/{{ link.image }}" class="img-circle" height="205" width="204"> </div>
		
		{% else %}
		 <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/static/images/plaeholder_icon.png" class="img-circle"> </div>
		{% endif %}
        <br/>
	
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information" style="border-radius:10px">
                    <tbody>
		
			             <tr>
                            <td>Username</td>
                            <td>{{ link.username }}</td>
                        </tr>
            
                        <tr>
                            <td>Fullname</td>
                            <td>{{ link.name }}</td>
                        </tr>
              
                        <tr>
                            <td>Email</td>
                            {% if link.email %}
                            <td><a href="mailto:{{ link.email }}">{{ link.email }}</a></td>
                            {% else %}
                            <td><span style="color:grey"> E-mail not provided </span</td>
                            {% endif %}
                        </tr>
                        <tr>
                        </tr>
                            <td>Origin Site: </td>
                            {% if link.location %}
                            <td> {{ link.location }} </td>
                            {% else %}
                            <td><span style="color:grey"> Location origin not provided </span></td>
                            {% endif %}

			             <tr>
                            <td>Github</td>
                            {% if link.github %}
                            <td> {{ link.github }} </td>
                            {% else %}
                            <td><span style="color:grey"> Github profile link not provided </span></td>
                            {% endif %}
			    </br>
                        </tr> 
	                 {% if link.username == user.username %}
		        <tr>
			<td>  <button id="show" class="button">Edit Profile</button> </td>
			</tr>
                       	{% endif %}

		        <tr>

			  <td>
			   

			<form method="POST" action="#" name="updateform" >
                          {% csrf_token %}
			 <input type="hidden" name="username" value={{ link.username }} >
                         Full name: <input type="text" name="fullname" value={{ link.name }} >
		         Email: <input type="text" name="email" value={{ link.email }} >
			 Github: <input type="text" name="github" value={{ link.github }} >
	
                          <input type="submit" value="Update">
                        </div>
			</form>
		       

		
	   	       </td>
			</tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

	    

                {% endfor %}

          </div>

        <div class="wrapper">
            <div class="headerbox"> 
                <h1>Friends</h1>
                    {% for link in items %}
                    {% if link.username != user.get_username %}
                    <form method="POST" action="{% url "friendRequest" %}" enctype="multipart/form-data" name="friendrequest">
                    {% csrf_token %}
                    <input type="hidden" name="follow" value="{{ link.username }}">
                    <input type="submit" class="friendreq" value="Friend Request">
                    </form>
                    {% endif %}
                    {% endfor %}
            </div>
            {% if not ufriends %}
                {% for link in items %}
                <div class="contentbox text-center">
                    <img style="width:20%; height:20%;" src="{{ STATIC_URL }}images/sad.png"/>
                    <br/>
                    {% if link.username == user.username %}
                        You have no friends. Go out and find some!
                    {% else %}
                        This user has no friends. You could be the first!
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}

                {% for link in ufriends %}
                <div class="bubbleWrapper">
                    <!-- Need to do images -->
                    <form method="POST" action="{% url "getaProfile" theusername=link.username user_id=link.author_uuid %}" enctype="multipart/form-data" name="form">
                        {% csrf_token %}
                        <input type="hidden" value="{{link.username}}" name="username">
                        <input type="submit" value="{{link.username}}">
                    </form>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    
        </div>
    </div>
    <br/>
    
    {% if posts %}
    <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
    <div class="panel-body">
    <div class="row">
    <div class="wrapper">
        <div class="headerbox"><h1>Recent Posts</h1></div>
        {% for link in posts %}
        <div class="contentbox">
            {% if link.title %}
            <div class="posttitle">{{ link.title }}</div>
            {% else %}
            <div class="posttitle"> Untitled Post </div>
            {% endif %}
            <span style="margin-left:10pt"> Thought Bubble'd by: </span><a class href={% url "getaProfile" theusername=link.author_id.username user_id=link.author_id.author_uuid %}>{{ link.author_id.username }}</a><span> on {{link.date}}</span>
            <br/><br/>
            <div class="postbody">
                {% if link.image %}
               
		<a href="../../../media/{{link.image}}"><img src="../../../media/{{link.image}}"  height="82" width="100" /></a> </br></br>
                    {% endif %}
                    {% if link.content %}
                    <span class="name">{{ link.content }}</span> </br>
                    {% endif %}
                    </div></div>
        {% endfor %}
    </div>
    </div>
    </div></div>
</div>
    {% else %}
    <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
    <div class="panel-body">
    <div class="row">
    <div class="wrapper">
        <div class="headerbox"><h1>Recent Posts</h1></div>
        <div class="contentbox text-center">
         <img style="width:20%; height:20%;" src="{{ STATIC_URL }}images/sad.png"/><br/>
         You have no posts, go post something!
        </div>
    </div>
    </div>
    </div>
    </div>

    {% endif %}

</body>
</html>
{% endblock %}

