{% extends "navbar.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Registration </title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background -->
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/register.css" rel="stylesheet">
    <br>
</head>

{% endblock %}


{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %}  
<body>

<div class="container">
	
	<form  class="form-signin" method=POST enctype="multipart/form-data" action="{% url 'RegisterPage' %}"> 
		<!-- http://bootsnipp.com/snippets/featured/google-style-login-extended -->
	<img class="profile-img2" src="{{ STATIC_URL }}/images/plaeholder_icon.png">
		{% csrf_token %}
        <!-- Alow the new user to enter his/her personal information to register to Bubble! Required fields are specified below.-->
		<h1 class="form-signin-heading">Register</h1>
        
        <!-- If the username or email is already taken, the page refreshes with a message with either to 'change you username' or 'change your email' -->
        {% if error_msg %}
        <h4 id="center" class="animated flash" style="background-color:rgba(0,0,0,0)" align="center">{{ error_msg }}</h4>
            
            <input type="text" class="form-control" placeholder="Name" value="{{ name }}" autofocus="" name="name" required>
            <input type="text" class="form-control" placeholder="Username" value="{{ username }}" autofocus="" name=username required>
            <input type="password" class="form-control" placeholder="Password" autofocus=""name="password" required>
            <input type="password" class="form-control" placeholder="ConfirmPassword" name="confpassword" required>
            <input type="email" class="form-control" placeholder="Email" value="{{ email }}" name="email">
            <input type="text" class="form-control" placeholder="MyGithub" name="github" value="{{ github }}">
            <input type="text" class="form-control" placeholder="MyFacebook" name="facebook" value="{{ facebook }}" >
            <input type="text" class="form-control" placeholder="MyFacebook" name="twitter" value="{{ twitter }}">
            <input type="file" class="form-control" name="image" value="{{ image }}">
            
        <!-- This is the default page with the input fields for the user, seen by the user when they select 'Register' in the navbar from the 'Bubble' page -->
        {% else %}
        <input type="text" class="form-control" placeholder="Name" autofocus="" name="name" required>
		<input type="text" class="form-control" placeholder="Username" autofocus="" name="username" required>
		<input type="password" class="form-control" placeholder="Password" autofocus=""name="password" required>
        	<input type="password" class="form-control" placeholder="ConfirmPassword" name="confpassword" required>
        	<input type="email" class="form-control" placeholder="Email" name="email">
        	<input type="text" class="form-control" placeholder="MyGithub"  name="github">
        	<input type="file" class="form-control" placeholder=""  name=image>
        
    
        {% endif %}
		</br>
        <!-- Submit the new user information in order to save a new user -->
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Register
		</button>
	</form>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

</script>

</body>
</html>
{% endblock %}
