{% extends "navbar.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Thought-Bubble Login</title>
    <!-- Bootstrap example from http://bootsnipp.com/snippets/featured/login-screen-with-background -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}/css/small-business.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}/css/register.css" rel="stylesheet">
    <br>
</head>

{% endblock %}


{% block nav %}
    {{ block.super }}
{% endblock %}

{% block body %}  
<body>

<div class="container">
	
	<form  class="form-signin" method=POST enctype="multipart/form-data" action=""> 
		<!-- http://bootsnipp.com/snippets/featured/google-style-login-extended -->
	<img class="profile-img2" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120">
		{% csrf_token %}
		<h1 class="form-signin-heading">Register</h1>
        
        {% if error_msg %}
        <h4 id="center" class="animated flash" style="background-color:rgba(0,0,0,0)" align="center">{{ error_msg }}</h4>
            
            <input type="text" class="form-control" placeholder="Name" value="{{ name }}" autofocus="" name="name" required>
            <input type="text" class="form-control" placeholder="Username" value={{ username }} autofocus="" name=username required>
            <input type="password" class="form-control" placeholder="Password" autofocus=""name=password required>
            <input type="password" class="form-control" placeholder="ConfirmPassword" name=confpassword required>
            <input type="email" class="form-control" placeholder="Email" value={{ email }} name=email>
            <input type="text" class="form-control" placeholder="MyGithub" name=github value={{ github }}>
            <input type="text" class="form-control" placeholder="MyFacebook" name=facebook value={{ facebook }} >
            <input type="text" class="form-control" placeholder="MyFacebook" name=twitter value={{ twitter }}>
            <input type="file" class="form-control" name=image value={{ image }}>
            

        {% else %}
        <input type="text" class="form-control" placeholder="Name" autofocus="" name="name" required>
		<input type="text" class="form-control" placeholder="Username" autofocus="" name=username required>
		<input type="password" class="form-control" placeholder="Password" autofocus=""name=password required>
        	<input type="password" class="form-control" placeholder="ConfirmPassword" name=confpassword required>
        	<input type="email" class="form-control" placeholder="Email" name=email>
        	<input type="text" class="form-control" placeholder="MyGithub"  name=github>
        	<input type="text" class="form-control" placeholder="MyFacebook"  name=facebook>
        	<input type="text" class="form-control" placeholder="MyTwitter"  name=twitter>
        	<input type="file" class="form-control" placeholder=""  name=image>
        
    
        {% endif %}
		</br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Register
		</button>
	</form>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

</script>

</body>
</html>
{% endblock %}
